---
interface Props {
  miArray: Array<{ alt: string, srcFotos: string, srcThum: string }>;
}

const { miArray } = Astro.props;
---

<div class="col-auto col-lg-6 mt-5 px-0 px-lg-0">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" id="lightbox-gallery">
      {
        miArray.map ((foto, index) => (
          <div class={`carousel-item ${index === 0 ? 'active' : ''}`}>
            <a 
              href={foto.srcFotos}
              data-pswp-width="800"
              data-pswp-height="500"
            >
              <img src={foto.srcFotos} class="d-block w-100" alt={foto.alt} />
            </a>
          </div>
        ))
      }
    </div>
    
    <!-- <div class="carousel-inner">
      {
        miArray.map ((foto, index) => (
          <div class={`carousel-item ${index === 0 ? 'active' : ''}`}>
              <img src={foto.srcFotos} class="d-block w-100" alt={foto.alt} width="100%" height="auto" />
          </div>
        )
      )}
    </div> -->
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
    
    <div class="carousel-indicators mx-0">
      {
        miArray.map ((foto, index) => (
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to={index} 
          class={`${index === 0 ? 'active' : ''}`} aria-current="true" aria-label={`Slide ${index}`}>
            <img src={foto.srcThum} class="d-flex img-fluid" alt={foto.alt}/>
          </button>
        )
      )}
    </div>
  </div>
</div>

<style>
  .carousel-indicators button[data-bs-target] {
    width: max-content;
    height: auto;
  } 
  .carousel-indicators{
    margin-top: -4px;
    position: relative;
  }
</style>

<script>
	import PhotoSwipeLightbox from "photoswipe/lightbox";
	import "photoswipe/style.css";

	const lightbox = new PhotoSwipeLightbox({
		gallery: "#lightbox-gallery",
		children: "a",
		pswpModule: () => import("photoswipe"),
	});

	lightbox.init();
</script>