---
const links = [
  {
    name: 'about us',
    href: '#aboutus',
  },
  {
    name: 'mountaineering',
    href: '#mountaineering',
  },
  {
    name: 'climbing',
    href: '#climbing',
  },
  {
    name: 'skiing',
    href: '#skiing',
  },
  {
    name: 'creston-experience',
    href: '/#creston-experience',
  },
  {
    name: 'courses',
    href: '#courses',
  },
  {
    name: 'contact us',
    href: 'contactus',
  },
]
const redes = [
      {
        alt: 'Instagram',
        href: 'https://www.instagram.com/patagonia_ascent/',
        icon: '',
        class: 'fs-4 nav-link py-1 ps-0 pe-2 text-footer-index fab fa-instagram',
      },
      {
        alt: 'Facebook',
        href: 'https://www.facebook.com/PatagoniAscent',
        icon: '',
        class: 'fs-4 nav-link py-1 ps-0 pe-2 text-footer-index fab fa-facebook',
      },
      {
        alt: 'YouTube',
        href: 'https://www.youtube.com/channel/UCMqFsAQ6I0cjByx82SaIQRg',
        icon: '',
        class: 'fs-4 nav-link py-1 ps-0 pe-2 text-footer-index fab fa-youtube',
      },
      {
        alt: 'WhatsApp',
        href: 'https://wa.me/542966464845/',
        icon: '',
        class: 'fs-4 nav-link py-1 ps-0 pe-2 text-footer-index fab fa-whatsapp',
      },
]
const logos = [
  {
    img: '/img/index/aagm.png',
    href: 'https://www.aagm.com.ar/',
    alt: 'AAGM',
  },
  {
    img: '/img/index/uiagm.png',
    href: 'https://ifmga.info/',
    alt: 'UIAGM',
  }
];
---

<div class="color py-4">
  <div class="container pt-5 pt-lg-3 px-4 px-lg-5">
    <footer class="row row-cols-1 row-cols-sm-1 row-cols-md-5 pt-5">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-1 link-body-emphasis text-decoration-none">
          <h4 class="fw-lighter text-footer-index"><span class="fw-light">PATAGONIA</span>SCENT</h4>
        </a>
        <p class="text-footer-index fw-lighter">Copyright &copy; {new Date().getFullYear()}<br>All rights reserved.</p>
      </div>

      <div class="col mb-3">
      </div>

      <div class="col mb-3">
        <h6 class="fw-light text-footer-index">FOLOW US</h6>
        <ul class="nav">
          {
            redes.map((red)=> (
              <li class="nav-item mb-2"><a target="_blanck" class={red.class} href={red.href} aria-label={red.alt}></a></li>
            )
          )}
        </ul>
      </div>

      <div class="col mb-3">
        <h6 class="fw-light text-footer-index">PARTNERS</h6>
        <ul class="nav">
          {logos.map((logo) => (
            <li class="nav-item me-3">
              <a href={logo.href} target="_blanck" aria-current="page">
                <img class="ml-4" width="50px" src={logo.img} alt={logo.alt} />
              </a>
            </li>
          )
        )}
        </ul>
      </div>

      <div class="col mb-3">
        <h6 class="fw-light text-footer-index">SITE MAP</h6>
        <ul class="nav flex-column">
          {
            links.map((link)=>(
            <li class="nav-item mb-0"><a href={link.href} class="nav-link p-0 text-footer-index fw-light">{link.name}</a></li>
            )
          )}
        </ul>
      </div>

      
    </footer>
  </div>
</div>

<style>
  .color {
    background-color: rgba(0,0,0,0.9);
  }
  .text-footer-index {
    color: white;

  }
</style>

