---
const redes = [
  {
    nombre: 'CONTACTO',
    href: 'contacto',
    links: [
      {
        alt: 'Instagram',
        href: 'https://www.instagram.com/patagonia_ascent/',
        class: 'nav-link redes fab fa-instagram',
      },
      {
        alt: 'Facebook',
        href: 'https://www.facebook.com/PatagoniAscent',
        class: 'nav-link redes fab fa-facebook',
      },
      {
        alt: 'YouTube',
        href: 'https://www.youtube.com/channel/UCMqFsAQ6I0cjByx82SaIQRg',
        class: 'nav-link redes fab fa-youtube',
      },
      {
        alt: 'WhatsApp',
        href: 'https://wa.me/542966464845/',
        class: 'nav-link redes fab fa-whatsapp',
      },
    ],
  },
]
const links = [
  {
    name: 'NOSOTROS',
    href: '#nosotros',
  },
  {
    name: 'MONTAÑA',
    href: '#montana',
  },
  {
    name: 'ESCALADA',
    href: '#escalada',
  },
  {
    name: 'ESQUÍ',
    href: '#esqui',
  },
  {
    name: 'EXPERIENCIA CRESTON',
    href: '#experiencia-creston',
  },
  {
    name: 'CURSOS',
    href: '#cursos',
  },
  // {
  //   name: 'CONTACT US',
  //   href: '/',
  //   isExternal: 'false',
  // },
]
const logos = [
  {
    img: '../img/index/aagm.png',
    href: 'https://www.aagm.com.ar/',
    alt: 'AAGM',
  },
  {
    img: '../img/index/uiagm.png',
    href: 'https://ifmga.info/',
    alt: 'UIAGM',
  }
];
---
 
  <nav class="navbar navbar-expand-xl fixed-top py-2">
    <div class="container-sm">
      <a class="navbar-brand" href="/">
        <img class="img-fluid" alt="patagoniascent" src="../img/index/logo.png"></img>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="custom-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center">
          {
            links.map((link) => ( 
            <li class="nav-item">
              <a href={link.href} class="nav-link fs-6 d-lg-none">
                <span data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">{link.name}</span>
              </a>
              <a href={link.href} class="nav-link fs-6 d-none d-lg-block">{link.name}</a>
            </li>
          )
          )}

          {redes.map((red) => (
              <li class="nav-item">
                <a href={red.href} class="nav-link contacto fs-6">
                  {red.nombre}
                </a>
                <ul class="ul-redes">
                  {red.links.map((link) => (
                    <a href={link.href} target="_blanck" class={link.class}/>
                    )
                  )}
                </ul>
              </li>
            )
          )}

          {logos.map((logo) => (
              <li class="nav-item">
                <a href={logo.href} target="_blanck" class="nav-link">
                  <img src={logo.img} alt={logo.alt} class="d-none d-lg-block" />
                </a>
              </li>
            )
          )}

        </ul>		  
      </div>
    </div>
  </nav>

  <style>
    .navbar-toggler{
      box-shadow: none;
      border: none;
    } 
    .custom-toggler-icon {
	    color: #ffffff;
	    font-size: 25px;
    }
    .navbar {
      background-color: rgb(0,0,0,0.5)!important;
      text-align: right;
    }
    .nav-link {
      font-weight: 400;
      color: white;
    }
    .contacto {
      position: relative;
    }
    .redes {
      font-size: 20px;
      padding: 3px!important;
      padding-top: 0px!important;
    }
    .ul-redes {
      position: absolute; 
      padding-left: 2px;
    }

    @media (max-width: 575.98px) {
      .ul-redes {
        position: relative; 
      }
      .fs-6{
        font-size: 20px!important;
      }
    }
  </style>
