---
const redes = [
{
    nombre: 'CONTACTO',
    href: '/contacto',
    links: [
      {
        alt: 'Instagram',
        href: 'https://www.instagram.com/patagonia_ascent/',
        class: 'nav-link redes fab fa-instagram',
      },
      {
        alt: 'Facebook',
        href: 'https://www.facebook.com/PatagoniAscent',
        class: 'nav-link redes fab fa-facebook',
      },
      {
        alt: 'YouTube',
        href: 'https://www.youtube.com/channel/UCMqFsAQ6I0cjByx82SaIQRg',
        class: 'nav-link redes fab fa-youtube',
      },
      {
        alt: 'WhatsApp',
        href: 'https://wa.me/542966464845/',
        class: 'nav-link redes fab fa-whatsapp',
      },
    ],
  },
]
const links = [
  {
    name: 'NOSOTROS',
    href: '/#nosotros',
  },
  {
    name: 'MONTAÑA',
    href: '/#montana',
  },
  {
    name: 'ESCALADA',
    href: '/#escalada',
  },
  {
    name: 'ESQUÍ',
    href: '/#esqui',
  },
  {
    name: 'EXPERIENCIA CRESTON',
    href: '/#experiencia-creston',
  },
  {
    name: 'CURSOS',
    href: '/#cursos',
  },
  // {
  //   name: 'CONTACT US',
  //   href: '/',
  //   isExternal: 'false',
  // },
]
const logos = [
  {
    img: '/img/paginas/aagmgris.png',
    href: 'https://www.aagm.com.ar/',
    alt: 'AAGM',
  },
  {
    img: '/img/paginas/uiagmgris.png',
    href: 'https://ifmga.info/', 
    alt: 'UIAGM',
  }
];
---
 
  <nav class="navbar navbar-expand-xl navbar-light">
    <div class="container-sm">
      <a class="navbar-brand" href="/" aria-label="home">
        <img class="" alt="patagoniascent" src="/img/paginas/logogris.png" width="150px" height="75px"></img>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center">
          {
            links.map((link) => (
            <li class="nav-item px-2">
              <a href={link.href} class="nav-link fs-6 fw-light" aria-label={link.name}>{link.name}</a>
            </li>
          )
          )}

          {redes.map((red) => (
              <li class="nav-item">
                <a href={red.href} class="nav-link contacto px-2 fs-6 fw-light" aria-label={red.nombre}>
                  {red.nombre}
                </a>
                <ul class="ul-redes">
                  {red.links.map((link) => (
                    <a href={link.href} target="_blanck" class={link.class} aria-label={link.alt}/>
                    )
                  )}
                </ul>
              </li>
            )
          )}

          {logos.map((logo) => (
              <li class="nav-item">
                <a href={logo.href} target="_blanck" class="nav-link" aria-label={logo.alt}>
                  <img src={logo.img} alt={logo.alt} class="d-none d-lg-block" width="62px" height="64px" />
                </a>
              </li>
            )
          )}

        </ul>		  
      </div>
    </div>
  </nav>

  <style>
    .navbar {
      text-align: right;
    }
    .navbar-toggler {
      border: none;
    }
    .navbar-toggler:focus {
      box-shadow: none;
    }
    .contacto {
      position: relative;
    }
    .nav-link {
      font-weight: 400;
      display: inline-flex;
    }
    .redes {
      font-size: 20px;
      padding: 3px!important;
      padding-top: 0px!important;
      color: rgb(88,88,90);
    }
    .ul-redes {
      position: absolute; 
      padding-left: 2px;
    }
    /* .ul-redes > a {
      display: inline-block;
    } */
    @media (max-width: 575.98px) {
      .ul-redes {
        position: relative; 
      }
    }
  </style>
