---
import SpeedInsights from '@vercel/speed-insights/astro';
import GoogleAnalytics from '../components/GoogleAnalytics.astro';
import { SEO } from 'astro-seo';

import { ViewTransitions } from 'astro:transitions';

import '../styles/paginas.css';

import FooterPaginas from '../components/layouts/FooterPaginas.astro';
import NavbarPaginas from '../components/layouts/NavbarPaginas.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const makeTitle = title
  ? title + ' | ' + 'Patagonia Ascent'
  : 'Patagonia Ascent';

const makeDescription = description
  ? description
  : 'La mejor experiencia en Patagonia: Montañismo, Escalada, Esquí, Cursos y más.';

const metaData = {
  keywords: 'patagonia, chalten, fitz roy, cerro torre, escalada, esqui',
  description:
    'La mejor experiencia en Patagonia: Montañismo, Escalada, Esquí, Cursos y más.',
  imageType: 'img/jpg',
  imageWidth: '900',
  imageHeight: '900',
  type: 'website',
  siteName: 'Patagonia Ascent',
  twitterCard: 'summary_large_image',
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL('/img/patagoniascent.jpg', Astro.url);
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <meta name='generator' content={Astro.generator} />
    <meta name='keywords' content={metaData.keywords} />
    <meta name='description' content={metaData.description} />

    <link rel='icon' type='image/svg+xml' href='/img/favicon.png' />
    <!-- <meta name='generator' content={Astro.generator} /> -->
    <!-- <meta name='description' content={makeDescription} /> -->

    <ViewTransitions />

    <title>{makeTitle}</title>

    <meta property='og:url' content={canonicalURL} />
    <meta property='og:type' content={metaData.type} />
    <meta property='og:site_name' content={metaData.siteName} />
    <meta property='og:description' content={metaData.description} />
    <meta property='og:title' content={makeTitle} />
    <meta property='og:image' content={socialImageURL} />
    <meta property='og:image:type' content={metaData.imageType} />
    <meta property='og:image:alt' content={makeTitle} />
    <meta property='og:image:width' content={metaData.imageWidth} />
    <meta property='og:image:height' content={metaData.imageHeight} />

    <meta name='twitter:card' content={metaData.twitterCard} />
    <meta name='twitter:title' content={makeTitle} />
    <meta name='twitter:description' content={metaData.description} />
    <meta name='twitter:image' content={socialImageURL} />
    <meta name='twitter:image:alt' content={makeTitle} />

    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'
      integrity='sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN'
      crossorigin='anonymous'
    />

    <SEO
      title='Patagonia Ascent'
      description='Best experience in Patagonia: Mountaineering, Climbing, Skiing, Courses and more.'
      openGraph={{
        basic: {
          title:
            'Best experience in Patagonia: Mountaineering, Climbing, Skiing, Courses and more.',
          type: 'A type.',
          image: 'https://www.patagoniascent.com/img/patagoniascent.jpg',
        },
      }}
    />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <meta
      name='google-site-verification'
      content='g2VwV4bX5PqiKgUe3zZqh4yPwpTy0-RhcNUB2gaGGSg'
    />
    <GoogleAnalytics />
  </head>
  <body>
    <NavbarPaginas />
    <slot />
    <FooterPaginas />

    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js'
      integrity='sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+'
      crossorigin='anonymous'></script>

    <SpeedInsights />
  </body>
</html>

<style is:global>
  img {
    content-visibility: auto;
  }
</style>
